.footer {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    position: relative;

    @include on-tablet {
      gap: 60px;
    }
  }

  &__logo {
    display: none;

    @include logo-hover;

    @include on-tablet {
      display: block;
      height: 25px;
      width: 184px;
    }

    @include on-desktop {
      height: 26px;
      width: 161px;
    }
  }

  &__links-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    list-style: none;

    @include on-tablet {
      gap: 50px;
    }
  }

  &__copyright {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-light-gray;
    cursor: default;

    @include on-tablet {
      margin-bottom: 30px;
      font-weight: 300;
    }

    @include on-desktop {
      font-weight: 400;
    }
  }

  &__arrow {
    display: none;

    @include on-tablet {
      display: block;
      position: absolute;
      right: 0;
    }
  }
}
