.icon {
  display: block;
  width: 32px;
  height: 32px;

  &--menu {
    background-image: url(../images/icon/icon-burger-menu.svg);

    @include hover(transform, scale(1.2));
  }

  &--close {
    background-image: url(../images/icon/icon-close.svg);
    width: 24px;
    height: 24px;

    @include hover(transform, scale(1.2));
  }

  &--social {
    width: 24px;
    height: 24px;
  }

  &--facebook {
    background-image: url(../images/icon/facebook-icon.svg);

    @include social-link-hover;
  }

  &--twitter {
    background-image: url(../images/icon/twitter-icon.svg);

    @include social-link-hover;
  }

  &--instagram {
    background-image: url(../images/icon/instagram-icon.svg);

    @include social-link-hover;
  }

  &--arrow {
    background-image: url(../images/icon/arrow.svg);
    height: 50px;
    width: 50px;

    @include social-link-hover;
  }
}
