.nav {
  display: none;

  @include on-desktop {
    display: block;
    margin-bottom: 62px;
  }
  &__list {
    @include nav-style;

    // margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-dark-gray;
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }

    @include about-us-link-hover;
    &::after {
      transform: scaleX(0);
    }
  }
}
