.testimonilas {
  margin-bottom: 110px;

  @include on-tablet {
    margin-bottom: 140px;
  }

  @include on-desktop {
    margin-bottom: 170px;
  }

  &__content {
    background-image: url(../images/testimonilas-bg.png);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 768px;

    // margin-inline: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    margin: 0;
    margin-bottom: 40px;
    padding-top: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: $color-dark-gray;

    @include on-tablet {
      margin-bottom: 40px;
      padding-top: 60px;
      font-size: 24px;
      line-height: 36px;
    }

    @include on-desktop {
      margin-bottom: 30px;
      padding-top: 42px;
    }
  }

  &__avatar {
    width: 62px;
    height: 62px;
    margin-bottom: 10px;
    border-radius: 50%;

    @include hover(transform, scale(1.2));
    @include shadow;

    @include on-tablet {
      margin-bottom: 20px;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $color-dark-gray;
  }

  &__position {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-gray;
  }
}
