@keyframes jump {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-6px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: .6;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("Roboto-Regular-webfont.015d4426.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.icon {
  width: 32px;
  height: 32px;
  display: block;
}

.icon--menu {
  background-image: url("icon-burger-menu.c4f0a5e9.svg");
  transition: transform .3s;
}

.icon--menu:hover {
  transform: scale(1.2);
}

.icon--close {
  background-image: url("icon-close.542f69d5.svg");
  width: 24px;
  height: 24px;
  transition: transform .3s;
}

.icon--close:hover {
  transform: scale(1.2);
}

.icon--social {
  width: 24px;
  height: 24px;
}

.icon--facebook {
  background-image: url("facebook-icon.d40f2f7d.svg");
  transition: all .3s;
}

.icon--facebook:hover {
  filter: invert(58%) sepia(75%) saturate(4500%) hue-rotate(155deg) brightness(95%) contrast(90%);
  transform: scale(1.2);
}

.icon--twitter {
  background-image: url("twitter-icon.57a0e798.svg");
  transition: all .3s;
}

.icon--twitter:hover {
  filter: invert(58%) sepia(75%) saturate(4500%) hue-rotate(155deg) brightness(95%) contrast(90%);
  transform: scale(1.2);
}

.icon--instagram {
  background-image: url("instagram-icon.dae3c862.svg");
  transition: all .3s;
}

.icon--instagram:hover {
  filter: invert(58%) sepia(75%) saturate(4500%) hue-rotate(155deg) brightness(95%) contrast(90%);
  transform: scale(1.2);
}

.icon--arrow {
  background-image: url("arrow.dbbb6077.svg");
  width: 50px;
  height: 50px;
  transition: all .3s;
}

.icon--arrow:hover {
  filter: invert(58%) sepia(75%) saturate(4500%) hue-rotate(155deg) brightness(95%) contrast(90%);
  transform: scale(1.2);
}

.header {
  margin-bottom: 110px;
}

@media (width >= 640px) {
  .header {
    margin-bottom: 140px;
  }
}

@media (width >= 1280px) {
  .header {
    margin-bottom: 170px;
  }
}

.header__top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 22px;
  display: flex;
}

@media (width >= 640px) {
  .header__top-bar {
    padding-block: 0;
  }
}

.header__logo-link {
  display: flex;
}

.header__logo {
  width: 161px;
  height: 26px;
  display: inline-block;
}

.header__logo:hover {
  animation: .9s jump;
}

.header__actions {
  align-items: center;
  gap: 30px;
  display: flex;
}

.header__hidden {
  display: none;
}

@media (width >= 640px) {
  .header__hidden {
    align-items: center;
    gap: 30px;
    display: flex;
  }
}

.header__specs {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  transition: all .3s;
}

.header__specs:hover {
  color: #333;
  font-weight: 400;
}

.header__lang {
  font-size: 14px;
  text-decoration: none;
  transition: all .3s;
}

.header__lang--en {
  color: #333;
  font-weight: 400;
  transition: all .3s;
}

.header__lang--slash {
  color: #333;
  font-weight: 400;
}

.header__lang--ua {
  color: #828282;
  font-weight: 300;
  transition: all .3s;
}

.header__lang:hover .header__lang--en {
  color: #828282;
  font-weight: 300;
}

.header__lang:hover .header__lang--ua {
  color: #333;
  font-weight: 400;
}

.header__buy {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  align-content: center;
  width: 100px;
  height: 48px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s;
}

.header__buy:hover {
  background-color: #131313;
}

.header__buy:disabled {
  background-color: #d0d0d0;
}

@media (width >= 1280px) {
  .header__menu {
    display: none;
  }
}

.header__bottom {
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  column-gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .header__bottom {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 1280px) {
  .header__bottom {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .header__bottom {
    margin-top: 130px;
  }
}

@media (width >= 1280px) {
  .header__bottom {
    margin-top: 90px;
  }
}

.header__img {
  cursor: pointer;
}

.header__img:hover {
  animation: 1.5s ease-in-out infinite blink;
}

.header__img--mobile {
  grid-column: 1 / -1;
  width: calc(100% + 60px);
  min-width: 320px;
  height: auto;
  margin-left: -30px;
  margin-right: -30px;
  display: block;
}

@media (width >= 640px) {
  .header__img--mobile {
    display: none;
  }
}

.header__img--tablet {
  display: none;
}

@media (width >= 640px) {
  .header__img--tablet {
    grid-area: 1 / 4 / auto / -1;
    width: 100%;
    height: auto;
    display: block;
  }
}

@media (width >= 1280px) {
  .header__img--tablet {
    display: none;
  }
}

.header__img--desktop {
  display: none;
}

@media (width >= 1280px) {
  .header__img--desktop {
    grid-area: 1 / 5 / auto / -1;
    width: 100%;
    height: auto;
    display: block;
  }
}

.header__text {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .header__text {
    grid-area: 1 / 1 / auto / 4;
  }
}

@media (width >= 1280px) {
  .header__text {
    grid-area: 1 / 1 / auto / 5;
  }
}

.header__title {
  color: #333;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

@media (width >= 640px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 62px;
  }
}

@media (width >= 1280px) {
  .header__title {
    font-size: 62px;
    line-height: 78px;
  }
}

.header__description {
  color: #333;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  min-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (width >= 640px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 123px;
    padding-right: 123px;
  }
}

.page {
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  background-color: #f7f7f7;
  margin: 0;
}

@media (width >= 640px) {
  .page__body {
    margin-top: 30px;
  }
}

.page__menu {
  pointer-events: none;
  opacity: 0;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  transition: transform .6s ease-in-out, opacity .3s;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.page__menu:target {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.page__menu ul li {
  opacity: 0;
  transition: all .6s;
  transform: translateY(20px);
}

.page__menu:target ul li {
  opacity: 1;
  transform: translateY(0);
}

.page__menu:target ul li:first-child {
  transition-delay: .6s;
}

.page__menu:target ul li:nth-child(2) {
  transition-delay: .7s;
}

.page__menu:target ul li:nth-child(3) {
  transition-delay: .8s;
}

.page__menu:target ul li:nth-child(4) {
  transition-delay: .9s;
}

.menu {
  box-sizing: border-box;
  flex-direction: column;
  height: 100vh;
  display: flex;
  overflow: auto;
}

.menu__top-bar {
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  display: flex;
}

@media (width >= 640px) {
  .menu__top-bar {
    padding-top: 36px;
  }
}

.menu__content {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

.menu__logo {
  display: inline-block;
}

.menu__logo:hover {
  animation: .9s jump;
}

.menu__list {
  flex-direction: column;
  gap: 25px;
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu__link {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.menu__link:hover {
  font-weight: 700;
}

.menu__link {
  position: relative;
}

.menu__link:after {
  content: "";
  transform-origin: 0;
  background-color: #0db2b3;
  width: 100%;
  height: 1px;
  transition: transform .3s ease-in-out;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(.5);
}

.menu__link:hover:after {
  transform: scaleX(1);
}

.menu__link:after {
  transform: scaleX(0);
}

.menu__middle {
  gap: 20px;
  margin-top: 50px;
  display: flex;
}

@media (width >= 640px) {
  .menu__middle {
    display: none;
  }
}

.menu__buy {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  align-content: center;
  width: 100%;
  height: 48px;
  margin-top: auto;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s;
  display: block;
}

.menu__buy:hover {
  background-color: #131313;
}

.menu__buy:disabled {
  background-color: #d0d0d0;
}

@media (width >= 640px) {
  .menu__buy {
    display: none;
  }
}

.nav {
  display: none;
}

@media (width >= 1280px) {
  .nav {
    margin-bottom: 62px;
    display: block;
  }
}

.nav__list {
  justify-content: center;
  gap: 84px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__link {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.nav__link:hover {
  font-weight: 700;
}

.nav__link {
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #0db2b3;
  width: 100%;
  height: 1px;
  transition: transform .3s ease-in-out;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(.5);
}

.nav__link:hover:after {
  transform: scaleX(1);
}

.nav__link:after {
  transform: scaleX(0);
}

.benefits {
  margin-bottom: 110px;
}

@media (width >= 640px) {
  .benefits {
    margin-bottom: 140px;
  }
}

@media (width >= 1280px) {
  .benefits {
    margin-bottom: 170px;
  }
}

.benefits__content {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .benefits__content {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 1280px) {
  .benefits__content {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.benefits__content {
  row-gap: 64px;
}

.benefits__item {
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: center;
  display: flex;
}

@media (width >= 640px) {
  .benefits__item {
    grid-column: span 4;
  }
}

@media (width >= 1280px) {
  .benefits__item {
    grid-column: span 3;
  }
}

.benefits__item--2, .benefits__item--3, .benefits__item--4 {
  display: none;
}

@media (width >= 640px) {
  .benefits__item--2, .benefits__item--3, .benefits__item--4 {
    display: flex;
  }
}

.benefits__item {
  transition: all .6s;
}

.benefits__item:hover img {
  transform: scale(1.3)rotate(360deg);
}

.benefits__img {
  width: 50px;
  height: 40px;
  transition: all .3s;
}

@media (width >= 1280px) {
  .benefits__img {
    width: 70px;
    height: 50px;
  }
}

.benefits__title {
  text-transform: uppercase;
  text-align: center;
  min-height: 56px;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

@media (width >= 1280px) {
  .benefits__title {
    margin-top: 30px;
  }
}

.benefits__text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (width >= 1280px) {
  .benefits__text {
    margin-top: 24px;
  }
}

.banner {
  margin-bottom: 110px;
}

@media (width >= 640px) {
  .banner {
    margin-bottom: 140px;
  }
}

@media (width >= 1280px) {
  .banner {
    margin-bottom: 170px;
  }
}

.banner__content {
  display: block;
}

.banner__img {
  width: calc(100% + 36px);
  min-width: 320px;
  height: auto;
  margin-left: -18px;
  margin-right: -18px;
  display: block;
}

@media (width >= 640px) {
  .banner__img {
    width: 100%;
    max-width: 846px;
    max-height: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about-us {
  margin-bottom: 110px;
}

@media (width >= 640px) {
  .about-us {
    margin-bottom: 140px;
  }
}

@media (width >= 1280px) {
  .about-us {
    margin-bottom: 170px;
  }
}

.about-us__content {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .about-us__content {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 1280px) {
  .about-us__content {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.about-us__content {
  row-gap: 110px;
}

@media (width >= 640px) {
  .about-us__content {
    row-gap: 140px;
  }
}

@media (width >= 1280px) {
  .about-us__content {
    row-gap: 170px;
  }
}

.about-us__item {
  grid-column: 1 / -1;
}

@media (width >= 640px) {
  .about-us__item {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 640px) and (width >= 640px) {
  .about-us__item {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 640px) and (width >= 1280px) {
  .about-us__item {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

@media (width >= 640px) {
  .about-us__card {
    grid-column: 5 / -1;
  }
}

@media (width >= 1280px) {
  .about-us__card {
    grid-column: 7 / -1;
  }
}

@media (width >= 640px) {
  .about-us__title--mobile {
    display: none;
  }
}

.about-us__title--card {
  display: none;
}

@media (width >= 640px) {
  .about-us__title--card {
    display: block;
  }
}

.about-us__title {
  text-transform: uppercase;
  color: #333;
  margin: 0 0 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 640px) {
  .about-us__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 46px;
  }
}

@media (width >= 1280px) {
  .about-us__title {
    font-size: 56px;
    line-height: 70px;
  }
}

.about-us__text {
  color: #7c7c7c;
  margin: 20px 0 30px;
  font-size: 14px;
  line-height: 21px;
}

@media (width >= 640px) {
  .about-us__text {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 24px;
  }
}

.about-us__btn {
  text-transform: uppercase;
  color: #0db2b3;
  width: 100%;
  max-width: 128px;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-decoration: none;
  position: relative;
}

.about-us__btn:after {
  content: "";
  transform-origin: 0;
  background-color: #0db2b3;
  width: 100%;
  height: 1px;
  transition: transform .3s ease-in-out;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: scaleX(.5);
}

.about-us__btn:hover:after {
  transform: scaleX(1);
}

.about-us__img-wrapper {
  align-self: start;
  height: auto;
  min-height: 0;
}

@media (width >= 640px) {
  .about-us__img-wrapper {
    grid-column: 1 / 5;
    margin-left: -34px;
  }
}

@media (width >= 1280px) {
  .about-us__img-wrapper {
    grid-column: 1 / 7;
    margin-left: 0;
  }
}

.about-us__img {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  height: 415px;
  display: block;
}

.about-us__img:hover {
  animation: .9s infinite pulse;
}

.about-us__img {
  transition: all .3s;
}

.about-us__img:hover {
  box-shadow: 0 0 20px #0db2b3;
}

@media (width >= 640px) {
  .about-us__item--reverse .about-us__card {
    grid-area: 1 / 1 / auto / 5;
  }

  .about-us__item--reverse .about-us__img-wrapper {
    grid-area: 1 / 5 / auto / -1;
    margin-left: 0;
    margin-right: -34px;
  }
}

@media (width >= 1280px) {
  .about-us__item--reverse .about-us__card {
    grid-column: 1 / 7;
  }

  .about-us__item--reverse .about-us__img-wrapper {
    grid-column: 7 / -1;
    margin-right: 0;
  }
}

.testimonilas {
  margin-bottom: 110px;
}

@media (width >= 640px) {
  .testimonilas {
    margin-bottom: 140px;
  }
}

@media (width >= 1280px) {
  .testimonilas {
    margin-bottom: 170px;
  }
}

.testimonilas__content {
  text-align: center;
  background-image: url("testimonilas-bg.668359c2.png");
  background-position: top;
  background-repeat: no-repeat;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.testimonilas__text {
  color: #333;
  margin: 0 0 40px;
  padding-top: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media (width >= 640px) {
  .testimonilas__text {
    margin-bottom: 40px;
    padding-top: 60px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (width >= 1280px) {
  .testimonilas__text {
    margin-bottom: 30px;
    padding-top: 42px;
  }
}

.testimonilas__avatar {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 10px;
  transition: transform .3s;
}

.testimonilas__avatar:hover {
  transform: scale(1.2);
}

.testimonilas__avatar {
  transition: all .3s;
}

.testimonilas__avatar:hover {
  box-shadow: 0 0 20px #0db2b3;
}

@media (width >= 640px) {
  .testimonilas__avatar {
    margin-bottom: 20px;
  }
}

.testimonilas__name {
  color: #333;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.testimonilas__position {
  color: #7c7c7c;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.features {
  margin-bottom: 110px;
}

@media (width >= 640px) {
  .features {
    bottom: 140px;
  }
}

@media (width >= 1280px) {
  .features {
    margin-bottom: 170px;
  }
}

.features__title {
  color: #333;
  margin: 0 0 32px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.features__wrapper {
  background: #d6ecec;
  margin-left: -34px;
  margin-right: -34px;
}

@media (width >= 640px) {
  .features__wrapper {
    background-image: url("features-bg-clear.755572e3.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 400px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (width >= 1280px) {
  .features__wrapper {
    background-position-x: calc(50% + 300px);
    background-size: auto;
  }
}

.features__content {
  margin-left: 34px;
  margin-right: 34px;
}

@media (width >= 640px) {
  .features__content {
    margin-left: 90px;
  }
}

@media (width >= 1280px) {
  .features__content {
    grid-template-columns: repeat(4, 1fr);
    gap: 56px 20px;
    margin: 0;
    display: grid;
  }
}

@media (width >= 1280px) and (width >= 640px) {
  .features__content {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 1280px) and (width >= 1280px) {
  .features__content {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.features__card {
  flex-direction: column;
  display: flex;
}

.features__card--1, .features__card--2 {
  display: none;
}

@media (width >= 1280px) {
  .features__card--1, .features__card--2 {
    margin-top: 60px;
    display: block;
  }
}

.features__card--1 {
  grid-area: 1 / 2 / auto / 7;
}

.features__card--2 {
  grid-area: 1 / 7 / auto / 12;
}

.features__card--3 {
  grid-area: 2 / 2 / auto / 7;
}

@media (width >= 1280px) {
  .features__card--3 {
    margin-bottom: 60px;
  }
}

.features__desktop-img {
  display: none;
}

.features__subtitle {
  text-transform: uppercase;
  color: #0c797a;
  margin: 0 0 20px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@media (width >= 640px) {
  .features__subtitle {
    padding-top: 60px;
  }
}

@media (width >= 1280px) {
  .features__subtitle {
    padding-top: 0;
    font-size: 34px;
    line-height: 42px;
  }
}

.features__list {
  flex-direction: column;
  gap: 10px;
  margin: 0 0 50px;
  padding-left: 0;
  list-style: none;
  display: flex;
}

@media (width >= 1280px) {
  .features__list {
    margin-bottom: 0;
  }
}

.features__item {
  color: #333;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
}

.features__item:before {
  content: "•";
  color: #333;
  margin-right: 11px;
  font-size: 14px;
  line-height: 1;
}

@media (width >= 1280px) {
  .features__item {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__img {
  cursor: pointer;
  background-image: url("features-img.da64b22d.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  align-self: center;
  width: 93px;
  height: 47px;
}

.features__img:hover {
  background-image: url("features-img-hover.3cd91104.png");
}

@media (width >= 640px) {
  .features__img {
    align-self: flex-start;
    margin-bottom: 123px;
  }
}

@media (width >= 1280px) {
  .features__img {
    display: none;
  }
}

.features__bottom-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@media (width >= 640px) {
  .features__bottom-img {
    display: none;
  }
}

.questions {
  margin-bottom: 100px;
}

@media (width >= 640px) {
  .questions {
    margin-bottom: 140px;
  }
}

@media (width >= 1280px) {
  .questions {
    margin-bottom: 170px;
  }
}

@media (width >= 640px) {
  .questions__content {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 640px) and (width >= 640px) {
  .questions__content {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 640px) and (width >= 1280px) {
  .questions__content {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.questions__title {
  text-transform: uppercase;
  color: #333;
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 640px) {
  .questions__title {
    grid-column: 1 / 5;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 46px;
  }
}

@media (width >= 1280px) {
  .questions__title {
    grid-column: 1 / 7;
    font-size: 56px;
    line-height: 70px;
  }
}

.questions__form {
  flex-direction: column;
  display: flex;
}

@media (width >= 640px) {
  .questions__form {
    grid-column: 5 / -1;
  }
}

@media (width >= 1280px) {
  .questions__form {
    grid-column: 7 / -1;
  }
}

.questions__input {
  box-sizing: border-box;
  border: 1px solid #828282;
  width: 100%;
  height: auto;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.questions__input::placeholder {
  color: #bdbdbd;
  opacity: 1;
}

.questions__input--email {
  height: 48px;
  margin-bottom: 20px;
  transition: all .3s;
}

.questions__input--email:focus, .questions__input--email:active {
  border-color: #0c797a;
  outline: none;
}

.questions__input--email:focus::placeholder, .questions__input--email:active::placeholder {
  color: #333;
}

.questions__input--email:valid {
  border-color: #eb5757;
  outline: none;
}

.questions__input--email:valid::placeholder {
  color: #eb5757;
}

.questions__input--text {
  resize: none;
  height: 128px;
  margin-bottom: 30px;
  transition: all .3s;
}

.questions__input--text:valid, .questions__input--text:focus, .questions__input--text:active {
  outline: none;
}

.questions__input--text:valid::placeholder, .questions__input--text:focus::placeholder, .questions__input--text:active::placeholder {
  color: #333;
}

@media (width >= 640px) {
  .questions__input--text {
    height: 201px;
  }
}

@media (width >= 1280px) {
  .questions__input--text {
    height: 128px;
  }
}

.questions__btn {
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-color: #0db2b3;
  border: none;
  width: 102px;
  height: 40px;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  transition: all .3s;
}

.questions__btn:hover {
  background-color: #0c797a;
}

.questions__btn:disabled {
  background-color: #cfeff0;
}

@media (width >= 1280px) {
  .questions__btn {
    width: 124px;
    height: 48px;
  }
}

.footer__content {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
  position: relative;
}

@media (width >= 640px) {
  .footer__content {
    gap: 60px;
  }
}

.footer__logo {
  display: inline-block;
}

.footer__logo:hover {
  animation: .9s jump;
}

@media (width >= 640px) {
  .footer__logo {
    width: 184px;
    height: 25px;
    display: block;
  }
}

@media (width >= 1280px) {
  .footer__logo {
    width: 161px;
    height: 26px;
  }
}

.footer__links-list {
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media (width >= 640px) {
  .footer__links-list {
    gap: 50px;
  }
}

.footer__copyright {
  text-align: center;
  color: #bdbdbd;
  cursor: default;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (width >= 640px) {
  .footer__copyright {
    margin-bottom: 30px;
    font-weight: 300;
  }
}

@media (width >= 1280px) {
  .footer__copyright {
    font-weight: 400;
  }
}

.footer__arrow {
  display: none;
}

@media (width >= 640px) {
  .footer__arrow {
    display: block;
    position: absolute;
    right: 0;
  }
}
/*# sourceMappingURL=Kickstarter.971c2ea4.css.map */
