// grid
$grid-column-mobile: 4;
$grid-column-tablet: 8;
$grid-column-desktop: 12;
$grid-gap-mobile: 20px;
$grid-gap-tablet: 20px;
$grid-gap-desktop: 30px;

// container
$container-padding-inline: 30px;

// animation
$animation-speed: 0.3s;

// colors
$color-main: #0db2b3;
$color-secondary: #cfeff0;
$color-black: #131313;
$color-dark-gray: #333;
$color-middle-gray: #4f4f4f;
$color-gray: #7c7c7c;
$color-light-gray: #bdbdbd;
$color-max-ligh-gray: #d0d0d0;
$color-off-white: #f7f7f7;
$color-white: #fff;
$color-btn: #0c797a;
$color-icon-hover: #828282;
$color-ogange: #eb5757;
